go.sum
vendor

target
*.class

*.pyc
venv

*.o
*.a
*.so
*.lib
*.dll

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.*.local
node_modules

*.db
*.sql
*.sqlite3

.DS_Store
.idea
.vscode
*.iml
*.suo
*.sln

!.gitkeep

data
